In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./intent_emotion_mapping.xlsx')
df.head()

,nb,Intent Name,Expressions,POSES,Magnitude,E_Start (%),E_End (%),E_Para,Gestures,G_Start,G_End,G_Para
0,0,Default Welcome Intent,Happy,happy,0.85,20,80,NaN,NaN,NaN,NaN,NaN
1,1,(Q0.Fail) How are you - From fallback,Curious,engaged,1.00,20,80,NaN,NaN,NaN,NaN,NaN
2,2,(Q0.Success) How are you - Bad,Sad,worry,0.60,20,80,NaN,NaN,NaN,NaN,NaN
3,3,(Q0.Success) How are you - Good,Happy,happy,0.85,20,80,NaN,NaN,NaN,NaN,NaN
4,4,(Q1.Fail) Age - Doesn't know,Empathetic,recoil,0.75,20,80,NaN,NaN,NaN,NaN,NaN

In [9]:
intent_name = "Default Welcome Intent"
df[df["Intent Name"] == intent_name]

,nb,Intent Name,Expressions,POSES,Magnitude,E_Start (%),E_End (%),E_Para,Gestures,G_Start,G_End,G_Para
0,0,Default Welcome Intent,Happy,happy,0.85,20,80,NaN,NaN,NaN,NaN,NaN

In [17]:
def lookup_table(df:pd.DataFrame, intent_name:str):
    df_line = df[df["Intent Name"] == intent_name]
    lookup_result = {}

    lookup_result['expressions'] = df_line["POSES"].item()
    lookup_result['exp_start'] = df_line["E_Start (%)"].item()/100
    lookup_result['exp_end'] = df_line["E_End (%)"].item()/100
    lookup_result['exp_mag'] = df_line["Magnitude"].item()
    return lookup_result

In [18]:
lookup_table(df, intent_name)

{'expressions': 'happy', 'exp_start': 20, 'exp_end': 80, 'exp_mag': 0.85}